{% extends 'base.html' %}

{% block title %}Times Available{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Times avaible for {{final_date}}</h1>

{% for apt in final_appointments %}
<form action="/reservations">
    <ul>
        <li>{{apt}}</li>
    </ul>
    <p>
        <input type="hidden" name="date_str" value={{date}}>
    </p>

    <p>
        <input type="hidden" name="time_str" value={{apt}}>
    </p>

    <button type="submit">Select Time</button>
</form>
{% endfor %}



{% endblock %}